<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="article-container">
        <h1>Personal Blog</h1>
        <div class="list-container">
            <% articles.forEach(article => { %>
                <div class="list-item">
                    <a href="<%= `/article/${article.fileId}` %>"><%= article.title %></a>
                    <div class="btn-date-container">
                        <p><%= article.date %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>